html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0 none;
    font-family: "微软雅黑","宋体",Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0 none;
    padding: 0;
	text-align:center
    vertical-align: baseline;
}
li{list-style-type:none}
.content{ width:1200px; margin:0 auto; position:relative;height:auto; overflow:hidden}
.left{ float:left;}
.right{ float:right;}
a{
text-decoration:none;

}
/*左侧菜单*/
.classmainleft{
	position: absolute;
	z-index: 999;
	width: 187px;
	border-left: 3px solid #ffae00;
	height: 420px;
	left: 0;
	top: 0;
	float: left;
}
/* common styling */
.classmainleft .menu {
	font-family: arial, sans-serif;
	width: 186px;
	height: 420px;
	position: relative;
	margin: 0;
	border-right: 1px solid #dbdbdb;
}
.classmainleft .menu ul li p, .menu ul li p:visited {
	display: block;
	text-decoration: none;
	color: #000;
	height: 59px;
	padding-left:60px;
	text-align:left;
	color: #6d6d6d;
	cursor:pointer;
	line-height: 59px;
	position:relative;
	font-size: 14px;
	overflow: hidden;
}
.classmainleft .menu ul li:hover p {color:#ffae00;   width:127px;}
/*弹出div样式*/
.classmainleft .menu ul .indexmianleft00 div { position:absolute; left:186px; border:1px solid #dbdbdb; border-left:#fbfbfb 5px solid; top:0;display: none; width:595px; height:418px; background:#ffffff;clear:both;height:auto!important;min-height:418px;}
.classmainleft .menu ul .indexmianleft00:hover div{display:block !important;}
.classmainleft .menu ul .indexmianleft01 div { position:absolute; left:186px; border:1px solid #dbdbdb; border-left:#fbfbfb 5px solid; top:0;display: none; width:595px; height:418px; background:#ffffff;clear:both;height:auto!important;min-height:418px;}
.classmainleft .menu ul .indexmianleft01:hover div{display:block;}
.classmainleft .menu ul .indexmianleft02 div { position:absolute; left:186px; border:1px solid #dbdbdb; border-left:#fbfbfb 5px solid; top:0;display: none; width:595px; height:418px; background:#ffffff;clear:both;height:auto!important;min-height:418px;}
.classmainleft .menu ul .indexmianleft02:hover div{display:block;}
.classmainleft .menu ul .indexmianleft03 div { position:absolute; left:186px; border:1px solid #dbdbdb; border-left:#fbfbfb 5px solid; top:0;display: none; width:595px; height:418px; background:#ffffff;clear:both;height:auto!important;min-height:418px;}
.classmainleft .menu ul .indexmianleft03:hover div{display:block;}
.classmainleft .menu ul .indexmianleft04 div { position:absolute; left:186px; border:1px solid #dbdbdb; border-left:#fbfbfb 5px solid; top:0;display: none; width:595px; height:418px; background:#ffffff;clear:both;height:auto!important;min-height:418px;}
.classmainleft .menu ul .indexmianleft04 .indexmianleft04_a {display: block; padding-left:0 !important; position: absolute; z-index: 1; left: 100px; border:0; top: 240px; width: 57px; height: 59px;}
.classmainleft .menu ul .indexmianleft04:hover div{display:block;}
.classmainleft .menu ul .indexmianleft05 div { position:absolute; left:186px; border:1px solid #dbdbdb; border-left:#fbfbfb 5px solid; top:0;display: none; width:595px; height:418px; background:#ffffff;clear:both;height:auto!important;min-height:418px;}
.classmainleft .menu ul .indexmianleft05:hover div{display:block;}
.classmainleft .menu ul .indexmianleft06 div { position:absolute; left:186px; border:1px solid #dbdbdb; border-left:#fbfbfb 5px solid; top:0;display: none; width:595px; height:418px; background:#ffffff;clear:both;height:auto!important;min-height:418px;}
.classmainleft .menu ul .indexmianleft06:hover div{display:block;}
.h3_a {float:left;}
#ul_a_a {width:477px;min-height:30px; display:block;margin-left:43px;*width:450px;}
/*indexmianleft00展开内容样式*/
.classmainleft .menu ul .indexmianleft00 div ul{ width:545px; padding:10px 25px 25px 25px; *padding-bottom:0;}
.classmainleft .menu ul .indexmianleft00 div ul li{padding: 10px 0; display:block; border-bottom:1px solid #f3f3f3; float:left; width:545px; position:relative;}
.classmainleft .menu ul .indexmianleft00 div ul li h3{margin:5px 0; cursor:pointer; color:#777777; font-weight:bold; padding-right:20px; display:block; line-height:20px; float:left;font-size:12px; width:75px;}

.classmainleft .menu ul .indexmianleft00 div ul li a{ margin:5px 0; cursor:pointer; color:#777777; padding: 0 10px; border-right:1px solid #bdbdbd; display:inline-block; line-height:16px; font-size:12px; }
.classmainleft .menu ul .indexmianleft00 div ul li a:hover{color:#ffae00; text-decoration:underline;}
/*a标签，更多样式*/
.classmainleft .menu ul .indexmianleft00 div ul li .iom{ position:absolute; right:0; bottom:14px; border-right:none !important;}
.classmainleft .menu ul .indexmianleft00 div ul li .iom01{ margin-left:44px;}

/*indexmianleft01展开内容样式*/
.classmainleft .menu ul .indexmianleft01 div ul{ width:545px; padding:10px 25px 25px 25px;}
.classmainleft .menu ul .indexmianleft01 div ul li{padding: 10px 0; display:block; border-bottom:1px solid #f3f3f3; float:left; width:545px; position:relative;}
.classmainleft .menu ul .indexmianleft01 div ul li h3{margin:5px 0; cursor:pointer; color:#777777; font-weight:bold; padding-right:20px; display:block; line-height:20px; float:left;font-size:12px; width:75px;}

.classmainleft .menu ul .indexmianleft01 div ul li a{ margin:5px 0; cursor:pointer; color:#777777; padding: 0 10px; border-right:1px solid #bdbdbd; display:inline-block; line-height:16px; font-size:12px;}
.classmainleft .menu ul .indexmianleft01 div ul li a:hover{color:#ffae00; text-decoration:underline;}
/*a标签，更多样式*/
.classmainleft .menu ul .indexmianleft01 div ul li .iom{ position:absolute; right:0; bottom:14px; border-right:none !important;}
.classmainleft .menu ul .indexmianleft01 div ul li .iom01{ margin-left:44px;}
/*indexmianleft02展开内容样式*/
.classmainleft .menu ul .indexmianleft02 div ul{ width:545px; padding:10px 25px 25px 25px;}
.classmainleft .menu ul .indexmianleft02 div ul li{padding: 10px 0; display:block; border-bottom:1px solid #f3f3f3; float:left; width:545px; position:relative;}
.classmainleft .menu ul .indexmianleft02 div ul li h3{margin:5px 0; cursor:pointer; color:#777777; font-weight:bold; padding-right:20px; display:block; line-height:20px; float:left;font-size:12px; width:75px;}

.classmainleft .menu ul .indexmianleft02 div ul li a{ margin:5px 0; cursor:pointer; color:#777777; padding: 0 10px; border-right:1px solid #bdbdbd; display:inline-block; line-height:16px; font-size:12px;}
.classmainleft .menu ul .indexmianleft02 div ul li a:hover{color:#ffae00; text-decoration:underline;}
/*a标签，更多样式*/
.classmainleft .menu ul .indexmianleft02 div ul li .iom{position:absolute; right:0; bottom:14px;border-right:none !important;}
.classmainleft .menu ul .indexmianleft02 div ul li .iom01{ margin-left:44px;}
/*indexmianleft03展开内容样式*/
.classmainleft .menu ul .indexmianleft03 div ul{ width:545px; padding:10px 25px 25px 25px;}
.classmainleft .menu ul .indexmianleft03 div ul li{padding: 10px 0; display:block; border-bottom:1px solid #f3f3f3; float:left; width:545px; position:relative;}
.classmainleft .menu ul .indexmianleft03 div ul li h3{margin:5px 0; cursor:pointer; color:#777777; font-weight:bold; padding-right:20px; display:block; line-height:20px; float:left;font-size:12px; width:75px;}

.classmainleft .menu ul .indexmianleft03 div ul li a{ margin:5px 0; cursor:pointer; color:#777777; padding: 0 10px; border-right:1px solid #bdbdbd; display:inline-block; line-height:16px; font-size:12px;}
.classmainleft .menu ul .indexmianleft03 div ul li a:hover{color:#ffae00; text-decoration:underline;}
/*a标签，更多样式*/
.classmainleft .menu ul .indexmianleft03 div ul li .iom{ position:absolute; right:0; bottom:14px; border-right:none !important;}
.classmainleft .menu ul .indexmianleft03 div ul li .iom01{ margin-left:44px;}
/*indexmianleft04展开内容样式*/
.classmainleft .menu ul .indexmianleft04 div ul{ width:545px; padding:10px 25px 25px 25px;}
.classmainleft .menu ul .indexmianleft04 div ul li{padding: 10px 0; display:block; border-bottom:1px solid #f3f3f3; float:left; width:545px; position:relative;}
.classmainleft .menu ul .indexmianleft04 div ul li h3{margin:5px 0; cursor:pointer; color:#777777; font-weight:bold; padding-right:20px; display:block; line-height:20px; float:left;font-size:12px; width:75px;}

.classmainleft .menu ul .indexmianleft04 div ul li a{ margin:5px 0; cursor:pointer; color:#777777; padding: 0 10px; border-right:1px solid #bdbdbd; display:inline-block; line-height:16px; font-size:12px;}
.classmainleft .menu ul .indexmianleft04 div ul li a:hover{color:#ffae00; text-decoration:underline;}
/*a标签，更多样式*/
.classmainleft .menu ul .indexmianleft04 div ul li .iom{ position:absolute; right:0; bottom:14px;border-right:none !important;}
.classmainleft .menu ul .indexmianleft04 div ul li .iom01{ margin-left:44px;}
/*indexmianleft05展开内容样式*/
.classmainleft .menu ul .indexmianleft05 div ul{ width:545px; padding:10px 25px 25px 25px;}
.classmainleft .menu ul .indexmianleft05 div ul li{padding: 10px 0; display:block; border-bottom:1px solid #f3f3f3; float:left; width:545px; position:relative;}
.classmainleft .menu ul .indexmianleft05 div ul li h3{margin:5px 0; cursor:pointer; color:#777777; font-weight:bold; padding-right:20px; display:block; line-height:20px; float:left;font-size:12px; width:75px;}

.classmainleft .menu ul .indexmianleft05 div ul li a{ margin:5px 0; cursor:pointer; color:#777777; padding: 0 10px; border-right:1px solid #bdbdbd; display:inline-block; line-height:16px; font-size:12px;}
.classmainleft .menu ul .indexmianleft05 div ul li a:hover{color:#ffae00; text-decoration:underline;}
/*a标签，更多样式*/
.classmainleft .menu ul .indexmianleft05 div ul li .iom{ position:absolute; right:0; bottom:14px;border-right:none !important;}
.classmainleft .menu ul .indexmianleft05 div ul li .iom01{ margin-left:44px;}
/*indexmianleft06展开内容样式*/
.classmainleft .menu ul .indexmianleft06 div ul{ width:545px; padding:10px 25px 25px 25px;}
.classmainleft .menu ul .indexmianleft06 div ul li{padding: 10px 0; display:block; border-bottom:1px solid #f3f3f3; float:left; width:545px; position:relative;}
.classmainleft .menu ul .indexmianleft06 div ul li h3{margin:5px 0; cursor:pointer; color:#777777; font-weight:bold; padding-right:20px; display:block; line-height:20px; float:left;font-size:12px; width:75px;}

.classmainleft .menu ul .indexmianleft06 div ul li a{ margin:5px 0; cursor:pointer; color:#777777; padding: 0 10px; border-right:1px solid #bdbdbd; display:inline-block; line-height:16px; font-size:12px;}
.classmainleft .menu ul .indexmianleft06 div ul li a:hover{color:#ffae00; text-decoration:underline;}
/*a标签，更多样式*/
.classmainleft .menu ul .indexmianleft06 div ul li .iom{ position:absolute; right:0; bottom:14px; border-right:none !important;}
.classmainleft .menu ul .indexmianleft06 div ul li .iom01{ margin-left:44px;}
/*左侧菜单展开广告图样式*/
.classmainleft .menu ul .indexmianleft00 div ul .its01{ float:left; margin-top:20px; margin-right:5px;border:0px; padding:0px!important;}
.classmainleft .menu ul .indexmianleft00 div ul .its02{ float:left; margin-top:20px; margin-right:0px;border:0px;padding:0px!important;}
.classmainleft .menu ul .indexmianleft01 div ul .its01{ float:left; margin-top:20px; margin-right:5px;border:0px;padding:0px!important;}
.classmainleft .menu ul .indexmianleft01 div ul .its02{ float:left; margin-top:20px; margin-right:0px;border:0px;padding:0px!important;}
.classmainleft .menu ul .indexmianleft02 div ul .its01{ float:left; margin-top:20px; margin-right:5px;border:0px;padding:0px!important;}
.classmainleft .menu ul .indexmianleft02 div ul .its02{ float:left; margin-top:20px; margin-right:0px;border:0px;padding:0px!important;}
.classmainleft .menu ul .indexmianleft03 div ul .its01{ float:left; margin-top:20px; margin-right:5px;border:0px;padding:0px!important;}
.classmainleft .menu ul .indexmianleft03 div ul .its02{ float:left; margin-top:20px; margin-right:0px;border:0px;padding:0px!important;}
.classmainleft .menu ul .indexmianleft04 div ul .its01{ float:left; margin-top:20px; margin-right:5px;border:0px;padding:0px!important;}
.classmainleft .menu ul .indexmianleft04 div ul .its02{ float:left; margin-top:20px; margin-right:0px;border:0px;padding:0px!important;}
.classmainleft .menu ul .indexmianleft05 div ul .its01{ float:left; margin-top:20px; margin-right:5px;border:0px;padding:0px!important;}
.classmainleft .menu ul .indexmianleft05 div ul .its02{ float:left; margin-top:20px; margin-right:0px;border:0px;padding:0px!important;}
.classmainleft .menu ul .indexmianleft06 div ul .its01{ float:left; margin-top:20px; margin-right:5px;border:0px;padding:0px!important;}
.classmainleft .menu ul .indexmianleft06 div ul .its02{ float:left; margin-top:20px; margin-right:0px;border:0px;padding:0px!important;}
.classmainleft .indexmianleft00{
	float: left;
	width: 186px;
	border-bottom: 1px solid #e8e8e8;
	background: url(../../../images/front/myInformation/indexmian00.jpg) left #ffffff no-repeat !important;
}
.classmainleft .indexmianleft01{
	float: left;
	width: 186px;
	border-bottom: 1px solid #e8e8e8;
	background: url(../../../images/front/myInformation/indexmian01.jpg) left #ffffff no-repeat !important;
}
.classmainleft .indexmianleft02{
	float: left;
	width: 186px;
	border-bottom: 1px solid #e8e8e8;
	background: url(../../../images/front/myInformation/indexmian02.jpg) left #ffffff no-repeat !important;
}
.classmainleft .indexmianleft03{
	float: left;
	width: 186px;
	border-bottom: 1px solid #e8e8e8;
	background: url(../../../images/front/myInformation/indexmian03.jpg) left #ffffff no-repeat !important;
}
.classmainleft .indexmianleft04{
	float: left;
	width: 186px;
	border-bottom: 1px solid #e8e8e8;
	background: url(../../../images/front/myInformation/indexmian04.jpg) left #ffffff no-repeat !important;
}
.classmainleft .indexmianleft05{
	float: left;
	width: 186px;
	border-bottom: 1px solid #e8e8e8;
	background: url(../../../images/front/myInformation/indexmian05.jpg) left #ffffff no-repeat !important;
}
.classmainleft .indexmianleft06{
	float: left;
	width: 186px;
	border-bottom: 1px solid #e8e8e8;
	background: url(../../../images/front/myInformation/indexmian06.jpg) left #ffffff no-repeat !important;
}

/*头部百分百背景修改2016-06-08*/
.login_ul {background: #fafafa;border-bottom: 1px solid #e4e4e4;height: 30px !important;}
.menu1 > .content{background: #ff8200;height: 45px;}