html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0 none;
    font-family:"Î¢ÈíÑÅºÚ","ËÎÌå",Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0 none;
    padding: 0;
	text-align:center
    vertical-align: baseline;
}
li{list-style-type:none}
.content{ width:1200px; margin:0 auto; position:relative;}
.left{ float:left;}
.right{ float:right;}
a{color:#6a6868;
text-decoration:none;

}