.foot_down{
	width: 100%;
	margin: 0 auto;
}
.foot_down .foot_down_Service{
	padding-top:20px;
	width:1200px;
	position:relative;
	height:160px;
	margin:0 auto;
}
.foot_down .foot_down_Service ul{ float:left;}
.foot_down .foot_down_Service ul li{ float:left; position:relative; display:block; height:145px;}
.foot_down .foot_down_Service ul li a{ font-family:"宋体"; line-height:26px; color:#777777; font-size:12px;}
.foot_down .foot_down_Service ul li a:hover{ color:#ff8200; text-decoration:underline;}
.foot_down .foot_down_Service ul li img{ float:left; margin-right:10px;}

.foot_down .foot_down_Service ul li p {
	display: block;
	height: 26px;
	position: relative;
	width: 165px;
}
.foot_down .foot_down_Service ul li i{ margin-right:10px; margin-top:8px; display:block; float:left; width:11px; height:11px; background:url(../../../images/front/myInformation/foot_down_a.jpg) no-repeat;}
.foot_down .foot_down_Service .custom{
	float: right;
	width: 150px;
	margin-left: 40px;
	position: relative;
}
.foot_down .foot_down_Service .custom a{
	float:left;
	width:61px;
	margin-bottom:10px;
	height:61px;
	border:1px solid #94a6a6;
	display:block;
	margin-left: 10px;
}
.foot_down .foot_down_Service .custom a:hover{border:1px solid #ff8200 !important;}

/*合作伙伴样式*/

.bellows {
    height:auto;
    margin: 0 auto;
    width: 1200px;
}
.bellows__header {
  position: relative;
  color: white; }
  .bellows__header:active {
   }
.bellows__header:before, .bellows__header:after {
    display: block;
    position: relative;
    z-index: 2;
}

  .bellows__header h1,
  .bellows__header h2,
  .bellows__header h3,
  .bellows__header h4 {
	color: #000000;
	font-family: "微软雅黑";
	font-size: 24px;
	line-height: 50px;
	margin: 0;
}

.bellows__content {
  padding: 0px;
  }
  .bellows__content .bellows {
    margin-top: 20px; }
/*副代码样式*/
.bellows__item:not(.bellows--is-open) > .bellows__content {
  display:block; }

.bellows__item.bellows--is-open > .bellows__content-wrapper,
.bellows__item.bellows--is-closing > .bellows__content-wrapper {
  display: block; }

.bellows__content-wrapper {
  display: none; }
.bellows p{ margin-left:30px; line-height:30px;}
.bellows p a{ color:#777777;}

/*版权*/
.footTwo {
    margin: 0 auto;
    width: 1200px;
}
.clearfix {
	text-align: center;
    width: 1200px;
	clear: both;
	display: block;
}
.cl_style {}
.foot_style {font-size: 12px; color: #7d8b8c; margin-top: 8px; text-align: center;}
.footTwo a {
	color: #777777;
	font-size: 12px;
	margin-right: 18px;
	margin-left: 18px;
}
.footTwo a:hover{ color:#ff8200;}
.footall_a{ float:right; color:#777777; font-family:"宋体"; font-size:12px; margin-right:20px; cursor:pointer;}
.footpp{ 
height: 190px; position:relative;
width:100%; border-bottom:#dbdbdb 1px solid;
}
.footpp1{
	width: 200px;
	height: 100px;
	float: left;
	margin-right: 25px;
	display: block;
}
.footpp2{
	width: 115px;
	height: 137px;
	float: left;
	display: block;
	position: relative;
}
.foot_img {margin-left: 314px; margin-top: 31px; padding-bottom: 30px;}
.bellows a:hover{ color:#ff8200; text-decoration:underline;}
#aio a:hover{ color:#ff8200; text-decoration:underline;}