@charset "utf-8";
* {
    margin: 0;
    padding: 0
}

input {
    outline: none;
    *border: 0
}

.clear {
    clear: both
}

ul, li {
    list-style: none
}

a {
    list-style: none;
    cursor: pointer
}

a:link, a:visited {
    text-decoration: none
}

a:hover {
    color: red;
    text-decoration: none
}

input::-ms-clear {
    display: none
}

img {
    border: 0
}

div.header {
    width: 1035px;
    margin: 0 auto;
    padding: 30px 0 30px 5px
}

div.header:after {
    height: 0;
    content: ".";
    clear: both;
    display: block;
    visibility: hidden
}

div.header div.logo {

}

div.contentMain {
    width: 1040px;
    margin: 0 auto;
    position: relative
}

div.contentMain a.signUpFree {
    display: block;
    width: 33px;
    height: 110px;
    right: -32px;
    position: absolute;
    top: 268px;
    background: url(../../../images/front/login/signUpFree.png) no-repeat
}

div.contentMain div.experienceFeedback {
    padding: 15px 0 0 10px
}

div.contentMain div.experienceFeedback a.experienceFeedbackA {
    background: url(../../../images/front/login/experienceFeedback_icon.png) no-repeat;
    display: block;
    height: 20px;
    line-height: 20px;
    padding-left: 25px;
    font-size: 12px;
    font-family: "微软雅黑";
    color: #7d8b8c;
    text-decoration: none
}

div.footer {
    width: 1040px;
    margin: 0 auto;
    padding: 30px 0 30px 0
}

div.footer p {
    text-align: center;
    width: 100%;
    color: #7d8b8c;
    font-family: "微软雅黑";
    font-size: 12px
}

div.loginBox {
    width: 1040px;
    height: auto
}

div.loginBoxTop {
    background: url(../../../images/front/login/loginMainBG.png) no-repeat;
    width: 1040px;
    height: 10px;
    overflow: hidden
}

div.loginBoxBottom {
    background: url(../../../images/front/login/loginMainBG.png) no-repeat 0 -12px;
    width: 1040px;
    height: 15px
}

div.loginMainContent {
    width: 1040px;
    background: url(../../../images/front/login/loginMainContentBG.png) repeat
}

div.loginMainContent:after {
    height: 0;
    content: ".";
    clear: both;
    display: block;
    visibility: hidden
}

div.loginMainContent div.imgBox {
    padding: 20px 0 0 85px;
    float: left;
    width: auto
}

div.loginBox div.loginBoxMain {
    padding: 10px 70px 0 0;
    width: 333px;
    float: right
}

div.loginBox div.loginBoxMain:after {
    height: 0;
    content: ".";
    clear: both;
    display: block;
    visibility: hidden
}

div.loginBox div.loginHeader {
    width: 100%;
    padding-bottom: 10px
}

div.loginBox div.loginHeader:after {
    height: 0;
    content: ".";
    clear: both;
    display: block;
    visibility: hidden
}

div.loginBox div.loginHeader .loginHeaderTitle {
    font-size: 18px;
    font-family: "微软雅黑";
    width: auto;
    float: left;
    color: #5e5c5d;
    line-height: 22px
}

div.loginBox div.loginHeader .loginHeadergreenTitle {
    color: #ff8200;
    font-family: "微软雅黑";
    font-size: 14px;
    text-align: center;
    line-height: 22px;
    line-height: 22px
}

div.loginBox div.loginHeader .loginHeaderOtherLo {
    font-size: 14px;
    font-family: "微软雅黑";
    color: #ff8200;
    float: right;
    line-height: 22px;
    display: block;
    width: auto
}

div.loginBoxMainContent {
    height: auto
}

div.loginBoxMainContent div.loginAgreementBox {
    background: url(../../../images/front/login/loginTermsBg.png) no-repeat;
    width: 279px;
    height: 270px;
    padding: 10px
}

div.loginBoxMainContent div.loginAgreementBoxDiv {
    overflow-y: scroll;
    width: 279px;
    height: 270px;
    font-size: 12px;
    font-family: "微软雅黑";
    font-size: 12px;
    line-height: 22px;
    color: #696969
}

div.loginBoxMainContent .loginErrorInfo {
    font-size: 12px;
    color: #f20000;
    font-family: "微软雅黑";
    padding-left: 24px;
    background: url(../../../images/front/login/icon_errorMessage.png) no-repeat;
    margin-left: 5px;
    clear: both;
    height: 18px;
    line-height: 18px
}

div.loginBoxMainContent .loginErrorInfoOK {
    font-size: 12px;
    color: #f20000;
    font-family: "微软雅黑";
    padding-left: 24px;
    background: url(../../../images/front/login/icon_errorMessageOK.png) no-repeat;
    margin-left: 5px;
    clear: both;
    height: 18px;
    line-height: 18px
}

div.loginBoxMainContent:after {
    height: 0;
    content: ".";
    clear: both;
    display: block;
    visibility: hidden
}

div.loginBoxMainContent ul {
    height: auto;
    float: left;
    width: 100%
}

div.loginBoxMainContent ul:after {
    height: 0;
    content: ".";
    clear: both;
    display: block;
    visibility: hidden
}

div.loginBoxMainContent ul li {
    width: 100%;
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    height: auto
}

div.loginBoxMainContent ul li div.longInputBg {
    background: url(../../../images/front/login/longInputBg.png) no-repeat;
    width: 321px;
    height: 46px;
    padding-right: 11px;
    padding-bottom: 15px;
    float: left
}

div.loginBoxMainContent ul li div.longInputBg input {
    height: 44px;
    padding: 10px 0;
    padding: 11px 0 9px \9;
    *padding: 12px 0 8px;
    width: 270px;
    border: none;
    margin: 1px 0 1px 15px;
    font-size: 14px;
    float: left;
    font-family: "微软雅黑"
}

div.loginBoxMainContent ul li div.verificationCode {
    background: url(../../../images/front/login/longVerificationCodeBg.png) no-repeat;
    width: 219px;
    padding-right: 0
}

div.loginBoxMainContent ul li div.verificationCode input {
    width: 181px
}

div.loginBoxMainContent ul li div.longFixedBroadband {
    background: url(../../../images/front/login/longFixedBroadbandBg.png) no-repeat;
    width: 134px;
    position: relative
}

div.loginBoxMainContent ul li div.longFixedBroadband input {
    width: 70px
}

div.loginBoxMainContent ul li div.longFixedBroadband .fixedBroadbandSelect {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #b4b4b4;
    width: 143px;
    height: auto;
    overflow: hidden;
    position: absolute;
    top: 43px;
    left: 0;
    z-index: 100
}

div.loginBoxMainContent ul li div.longFixedBroadband .fixedBroadbandSelect ul li {
    line-height: 18px;
    padding-left: 15px
}

div.loginBoxMainContent ul li div.longFixedBroadband .fixedBroadbandSelect ul li a {
    font-family: "微软雅黑";
    color: #696969;
    font-size: 12px
}

div.loginBoxMainContent ul li div.longAddress {
    background: url(../../../images/front/login/longAddressBg.png) no-repeat;
    width: 158px;
    float: right;
    position: relative;
    padding-right: 9px
}

div.loginBoxMainContent ul li div.longAddress input {
    width: 120px
}

div.loginBoxMainContent ul li div.longAddress .longAddressSelect {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #b4b4b4;
    width: 163px;
    height: auto;
    overflow: hidden;
    position: absolute;
    top: 43px;
    left: 0;
    z-index: 100;
    padding: 3px 1px 3px 1px
}

div.loginBoxMainContent ul li div.longAddress .longAddressSelect ul {
    width: 100%;
    overflow-y: auto;
    height: 185px
}

div.loginBoxMainContent ul li div.longAddress .longAddressSelect ul li {
    line-height: 22px;
    padding-top: 0
}

div.loginBoxMainContent ul li div.longAddress .longAddressSelect ul li.bgColor {
    background: #fff4dc
}

div.loginBoxMainContent ul li div.longAddress .longAddressSelect ul li a {
    font-family: "微软雅黑";
    color: #696969;
    font-size: 12px;
    padding-left: 8px;
    white-space: nowrap
}

div.loginBoxMainContent ul li div.longAddress .longAddressSelect ul li a span.longAddressRed {
    color: #b00
}

div.loginBoxMainContent ul li div.longUsefulAddressSelect {
    background: url(../../../images/front/login/longUsefulAddressSelect.png) no-repeat;
    padding-top: 10px;
    width: 323px;
    padding-left: 10px;
    height: 109px;
    position: absolute;
    top: 43px;
    left: -166px
}

div.loginBoxMainContent ul li div.longUsefulAddressSelect .UsefulAddTitle {
    color: #000;
    font-family: "微软雅黑";
    font-size: 12px
}

div.loginBoxMainContent ul li div.longUsefulAddressSelect .UsefulAddList {
    float: left;
    width: 100%;
    margin-top: 5px
}

div.loginBoxMainContent ul li div.longUsefulAddressSelect .UsefulAddList a {
    display: block;
    height: 50px;
    height: 24px;
    line-height: 24px;
    text-decoration: none;
    color: #696969;
    font-size: 12px;
    font-family: "微软雅黑";
    text-align: center;
    width: 50px;
    float: left
}

div.loginBoxMainContent ul li div.longInputBg input.noText {
    color: #d2d4e1
}

div.loginBoxMainContent ul li div.longInputBg input.hasText {
    color: #696969;
    font-weight: bold
}

div.loginBoxMainContent ul li div.longInputBg span.loginIcon {
    width: 19px;
    height: 44px;
    display: block;
    float: right;
    margin: 1px 0
}

div.loginBoxMainContent ul li div.longInputBg span.icon_people {
    background: url(../../../images/front/login/icon_people.png) no-repeat
}

div.loginBoxMainContent ul li div.longInputBg span.icon_lock {
    background: url(../../../images/front/login/icon_lock.png) no-repeat
}

div.loginBoxMainContent ul li div.longInputBg span.icon_arrow {
    background: url(../../../images/front/login/icon_arrow.png) no-repeat
}

div.loginBoxMainContent ul li div.longInputBg span.icon_fork {
    background: url(../../../images/front/login/icon_fork.png) no-repeat
}

div.loginBoxMainContent ul li span.verificationCode {
    float: right;
    display: block;
    height: 37px;
    width: 100px
}

div.loginBoxMainContent ul li img {
    height: 37px;
    width: 100px
}

div.loginBoxMainContent ul li .loginLiInfo {
    width: 100%;
    color: #a6a5a3;
    height: 16px;
    line-height: 16px;
    font-family: "微软雅黑";
    font-size: 12px;
    float: left;
    text-indent: 5px
}

div.loginBoxMainContent ul li .loginLiInfo span.txtright {
    float: right
}

div.loginBoxMainContent ul li a.greenA {
    display: block;
    width: auto;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    color: #ff8200;
    float: right;
    clear: left
}

div.loginBoxMainContent .loginBtnBox {
    float: left;
    width: 100%;
    padding: 25px 0
}

div.loginBoxMainContent .loginBtnBox .loginBtnConfirm {
    background: url(../../../images/front/login/loginBtnConfirm.png) no-repeat;
    width: 332px;
    height: 46px;
    display: block;
    float: left
}

div.loginBoxMainContent .loginBtnBox .loginBtnSignup {
    background: url(../../../images/front/login/loginBtnSignup.png) no-repeat;
    width: 135px;
    height: 37px;
    display: block;
    float: right
}

div.loginBoxMainContent .loginBtnBox .loginBtnAgreement {
    display: block;
    background: url(../../../images/front/login/loginBtnAgreement.png) no-repeat;
    width: 299px;
    height: 37px
}

div.loginBoxMainContent .loginBtnBox .loginBtnTermsOK {
    display: block;
    background: url(../../../images/front/login/loginBtnTermsOK.png) no-repeat;
    width: 295px;
    height: 41px
}

div.loginBoxMainContent .loginBtnBox .loginBtnOrange {
    background: url(../../../images/front/login/loginBtnOrangeBg.png) no-repeat;
    width: 273px;
    height: 38px;
    line-height: 38px;
    font-family: "微软雅黑";
    color: #fff;
    font-size: 14px;
    text-align: center;
    display: block;
    margin: 0 auto
}

div.loginBoxMainContent .loginConsentAgreement {
    width: 100%;
    text-indent: 5px;
    font-family: "微软雅黑";
    font-size: 12px;
    color: #a6a6a6;
    clear: both
}

div.loginBoxMainContent .loginConsentAgreement a {
    color: #ff8200
}

div.loginBoxMainContent .loginShareBox {
    padding-top: 15px;
    padding-bottom: 20px;
    float: left;
    padding-left: 5px
}

div.loginBoxMainContent .loginShareBox a.loginshare {
    display: block;
    float: left;
    width: 24px;
    height: 22px;
    margin-right: 10px
}

div.loginBoxMainContent .loginShareBox a.iconshare1 {
    background: url(../../../images/front/login/loginShare1.png) no-repeat
}

div.loginBoxMainContent .loginShareBox a.iconshare2 {
    background: url(../../../images/front/login/loginShare2.png) no-repeat
}

div.loginBoxMainContent .loginShareBox a.iconshare3 {
    background: url(../../../images/front/login/loginShare3.png) no-repeat
}

div.loginBoxMainContent .loginShareBox a.iconshare4 {
    background: url(../../../images/front/login/loginShare4.png) no-repeat
}

div.loginBoxMainContent .loginShareBox a.iconshare5 {
    background: url(../../../images/front/login/loginShare5.png) no-repeat
}

div.loginBoxMainContent ul li div.longInputBgFocus {
    background: url(../../../images/front/login/longInputBgFocus.png) no-repeat
}

div.loginBoxMainContent ul li div.verificationCodeFocus {
    background: url(../../../images/front/login/longVerificationCodeBgFocus.png) no-repeat
}

div.loginBoxMainContent ul li div.longFixedBroadbandFocus {
    background: url(../../../images/front/login/longFixedBroadbandBgFocus.png) no-repeat
}

div.loginBoxMainContent ul li div.longAddressFocus {
    background: url(../../../images/front/login/longAddressBgFocus.png) no-repeat
}

div.loginBoxMainContent ul li .loginLiInfo .forgetPasswordBox {
    width: 100%;
    height: 0;
    position: relative;
    float: right
}

div.loginBoxMainContent ul li .loginLiInfo .forgetPasswordDiv {
    width: 192px;
    height: 82px;
    background: url(../../../images/front/login/forgetPasswordMesBg1.png) no-repeat;
    position: absolute;
    padding: 18px 0 0 18px;
    z-index: 999;
    right: 0
}

div.loginBoxMainContent ul li .loginLiInfo .forgetPasswordDiv a {
    text-decoration: none;
    font-size: 12px;
    font-family: "微软雅黑";
    color: #696969;
    line-height: 22px;
    display: block;
    width: 100%;
    text-indent: 0
}

.hover {
    background-color: #e6e6e6
}

.ac {
    overflow: hidden
}

.ac a {
    color: #333;
    text-decoration: none;
    font-size: 12px;
    width: 100%;
    margin-left: 5px
}

.ac_over {
    float: left;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    text-align: left;
    vertical-align: middle;
    width: 100%;
    background-color: #39f
}

.ac_over a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    font-weight: 800;
    width: 100%;
    margin-left: 5px
}

.acResultTip {
    font-size: 12px;
    line-height: 12px;
    padding: 10px 5px 10px 5px;
    color: #f57421
}

div.fixedHeight {
    height: 369px
}

div.fixedHeight .imgBox img {
    width: 400px;
    height: 330px
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.clearfix {
    zoom: 1
}

.middle .sb {
    height: 6px;
    background: url(../../../images/front/login/top.jpg) no-repeat
}

.middle .zj {
    height: 350px;
    padding: 0 83px;
    position: relative
}

.middle .zj ul li {
    width: 178px;
    height: 58px;
    border: 1px solid #ccc;
    float: left;
    margin-right: 40px;
    margin-top: 105px;
    padding-top: 20px;
    padding-left: 50px;
    cursor: pointer
}

.middle .zj .curr {
    border: 1px solid #ffae00;
    background: url(../../../images/front/login/dg.jpg) no-repeat bottom right
}

.middle .zj ul li p {
    font-family: "微软雅黑";
    font-size: 14px;
    color: #b5b5b5;
    text-align: left;
    line-height: 15px
}

.middle .zj .xyb {
    width: 230px;
    height: 38px;
    display: block;
    background: url(../../../images/front/login/xybbj.jpg) no-repeat bottom;
    text-align: center;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #fff;
    line-height: 38px;
    cursor: pointer;
    margin-left: 270px;
    padding-top: 45px
}

.middle .zj .wxm {
    position: absolute;
    top: -2px;
    right: 171px;
    cursor: pointer
}

.middle .zj .mfzc {
    position: absolute;
    bottom: 0;
    right: 141px;
    cursor: pointer
}

.middle .xb {
    width: 930px;
    height: 6px;
    background: url(../../../images/front/login/bottom.jpg) no-repeat
}

.foot {
    width: 640px;
    color: #777;
    font-family: "微软雅黑";
    font-size: 12px;
    margin-top: 75px;
    margin-bottom: 80px;
    padding-left: 100px
}

@charset "utf-8";
* {
    margin: 0;
    padding: 0
}

ul, li {
    list-style: none
}

a {
    text-decoration: none;
    cursor: pointer
}

img {
    border: none
}

div.QRCodeBox {
    float: right;
    border-top: 2px solid #9fd110;
    border-left: 2px solid #dedede;
    height: 389px;
    width: 360px;
    background: #fff;
    position: relative;
    top: -10px;
    right: 4px
}

div.QRCodeBox .QRCodeBoxSuperscrip, div.QRCodeBox a.QRCodeBoxSuperscrip {
    background: url(../../../images/front/login/e_ewm002.png) no-repeat;
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -2px;
    right: -4px;
    z-index: 99
}

div.loginBox a.QRCodeloginSuperscrip {
    background: url(../../../images/front/login/e_ewm001.png) no-repeat;
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 99
}

div.QRCodeBox .QRCodeTitle {
    width: 100%;
    padding: 25px;
    text-indent: 55px;
    padding: 25px 0 35px 0;
    font-size: 14px;
    font-family: "宋体";
    color: #333;
    font-size: 14px;
    line-height: 22px;
    font-weight: bold
}

div.QRCodeBox .QRCodeContent {
    background: url(../../../images/front/login/QRCodeBg.png) no-repeat center center;
    width: 100%;
    height: 115px;
    padding: 20px 0;
    margin-bottom: 10px
}

div.QRCodeBox .QRCodeHelp {
    background: url(../../../images/front/login/e_ewm002_03.png) no-repeat top center;
    height: 186px;
    width: 100%;
    padding: 0;
    margin-top: -15px
}

div.QRCodeBox .QRCodeContent:after {
    height: 0;
    content: ".";
    clear: both;
    display: block;
    visibility: hidden
}

div.QRCodeBox .QRCodeContent img.QRCodeImg {
    display: block;
    width: 115px;
    height: 115px;
    margin: 0 auto
}

div.QRCodeBox .AppDownload {
    padding-bottom: 20px;
    width: 100%
}

div.QRCodeBox .AppDownload a {
    display: block;
    width: 98px;
    height: 16px;
    margin: 0 auto
}

div.QRCodeBox .AppDownload a img {
    width: 98px;
    height: 16px
}

div.QRCodeBox .linkBox {
    width: 100%;
    text-align: center
}

div.QRCodeBox .linkBox, div.QRCodeBox .linkBox a {
    font-size: 12px;
    font-family: "宋体";
    color: #b6b6b6
}

div.QRCodeBox .linkBox a {
    color: #6d6d6d
}

div.QRCodeBox .linkBox a:hover {
    color: #9ec011;
    text-decoration: underline
}

div.QRCodeBox .logonFailBox {
    width: 100%;
    background: #f9ffe5;
    padding: 15px 0 12px 0;
    height: 44px;
    line-height: 22px;
    position: absolute;
    top: 0;
    left: 0
}

div.QRCodeBox .logonFailBox .iconFail {
    width: 44px;
    height: 43px;
    float: left;
    margin-left: 55px;
    background: url(../../../images/front/login/e_ewm002_05.png);
    margin-right: 40px
}

div.QRCodeBox .logonFailBox .logonFailWord {
    width: 200px;
    float: left
}

div.QRCodeBox .logonFailBox .logonFailWord span {
    display: block;
    width: 100%;
    font-family: "宋体";
    font-size: 12px;
    color: #696969
}

div.QRCodeBox .logonFailBox .logonFailWord span.fontSize14 {
    font-size: 14px;
    font-family: "微软雅黑"
}

div.QRCodeBox .logonSuccessBox {
    width: 100%;
    padding: 115px 0 0 0;
    height: 44px;
    line-height: 22px
}

div.QRCodeBox .logonSuccessBox .iconSuccess {
    width: 44px;
    height: 43px;
    float: left;
    margin-left: 55px;
    background: url(../../../images/front/login/e_ewm002_04.png) no-repeat;
    margin-right: 10px
}

div.QRCodeBox .logonSuccessBox .logonSuccessWord {
    width: 200px;
    float: left
}

div.QRCodeBox .logonSuccessBox .logonSuccessWord span {
    display: block;
    width: 100%;
    font-family: "宋体";
    font-size: 12px;
    color: #696969
}

div.QRCodeBox .logonSuccessBox .logonSuccessWord span.fontSize14 {
    font-size: 14px;
    font-family: "微软雅黑"
}